<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoStay - Minhas Reservas</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-white min-h-screen font-sans p-6 text-black">

    <div class="max-w-4xl mx-auto space-y-6">
        <div class="flex justify-between items-center mb-8 border-b-2 border-black pb-4">
            <h1 class="text-3xl font-bold tracking-widest">MINHAS RESERVAS</h1>
            <div class="space-x-4">
                <a href="/catalogo" class="text-sm underline font-bold tracking-wider">VER QUARTOS</a>
                <a href="/logout" class="text-sm underline font-bold tracking-wider">SAIR</a>
            </div>
        </div>

        <div id="lista-minhas-reservas" class="space-y-4">
        </div>
    </div>

    <script>
        async function carregarReservas() {
            const res = await fetch('/reservas-dados');
            if(res.ok) {
                const dados = await res.json();
                const container = document.getElementById('lista-minhas-reservas');
                
                if(dados.reservas.length === 0) {
                    container.innerHTML = '<p class="text-gray-500 italic">Nenhuma reserva cadastrada.</p>';
                    return;
                }

                container.innerHTML = dados.reservas.map(r => `
                    <div class="flex justify-between items-center border-2 border-black p-4 bg-white">
                        <span class="text-md font-medium tracking-wide">Quarto ${r.tipoQuarto} - Data ${r.data_entrada} até ${r.data_saida} - Status: ${r.status}</span>
                        <form action="/reservas/${r.id}/cancelar" method="POST">
                            <button type="submit" class="bg-black text-white text-xs font-bold px-4 py-2 tracking-widest hover:bg-gray-900 transition">
                                CANCELAR RESERVA
                            </button>
                        </form>
                    </div>
                `).join('');
            }
        }
        carregarReservas();
    </script>
</body>
</html>